<% provide(:title, 'Quienes Somos') %>
<div class="col-lg-12 text-center v-center">
  <h1>Quienes Somos</h1>
	<div class="panel-body"><h4>COMNET es un proyecto pensado y realizado para la asignatura de Tecnologías de la información en las organzaciones. Somos un grupo de cuatro alumnos que cursamos dicha asignatura con el objetivo de aprender a sacar el máximo provecho de las apliciones de las tecnologías en empresas para así mejorar su productividad. En el caso de este proyecto hemos ideado una apliación cuyo finalidad en establecer una red social intraempresa mediante la cual se establezca un foro mediante el cuál los empleados de la misma compartan distintas curisidades en el ámbito de la empresa en su conjunto. El objetivo es que los usuarios de la misma posteen diferentes videos, comentarios o adjunten archivos que ordenados por categorías para el interés y conocimiento del resto de la corporación.</h4>
    </div>

     <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th><h1 class="lead">Equipo COMNET</h1></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h2>Sergio Afonso García</h2></td>
            <td><h2>sergioafonso@comnet.com</h2></td>
            <td><img width="200" height="200"src="http://4.bp.blogspot.com/-NgTxiE1bE0E/UCJOAUQK1uI/AAAAAAAAAT4/6_rv_6Xl8gk/s1600/aguila.jpg"></td>
          </tr>
          <tr>
            <td><h2>Noel Díaz Mesa</h2></td>
            <td><h2>noeldiaz@comnet.com</h2></td>
           	<td><img width="200" height="200" src="http://t0.gstatic.com/images?q=tbn:ANd9GcR01SpoiS-ylJXGVq97ILyYGJ4pEU5MuNmEl13Ic0P_ukQZ8ugYJw"></td>
          </tr>
          <tr>
            <td><h2>Antonio Pérez Hernández</h2></td>
            <td><h2>antonioperez@comnet.com</h2></td>
           	<td><img width="200" height="200" src="http://www.rtve.es/resources/jpg/1/6/1294861332061.jpg"></td>
          </tr>
          <tr>
            <td><h2>Adán Rafael López Lecuona</h2></td>
            <td><h2>adanrlopez@comnet.com</h2></td>
            <td><img width="200" height="200" src="http://www.animalesyanimales.com/wp-content/uploads/2009/04/gato-bonito1.jpg"></td>
          </tr>
        </tbody>
      </table>

    <h1 class="lead">Donde Estamos</h1>
    <br>
	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=+Escuela+T%C3%A9cnica+Superior+de+Ingenier%C3%ADa+Inform%C3%A1tica+de+la+Universidad+de+la+Laguna&amp;aq=&amp;sll=28.483126,-16.321373&amp;sspn=0.000758,0.001388&amp;t=h&amp;ie=UTF8&amp;hq=Escuela+T%C3%A9cnica+Superior+de+Ingenier%C3%ADa+Inform%C3%A1tica+de+la+Universidad+de+la+Laguna&amp;hnear=&amp;ll=28.483126,-16.321373&amp;spn=0.000758,0.001388&amp;output=embed"></iframe><br /><small><a href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=+Escuela+T%C3%A9cnica+Superior+de+Ingenier%C3%ADa+Inform%C3%A1tica+de+la+Universidad+de+la+Laguna&amp;aq=&amp;sll=28.483126,-16.321373&amp;sspn=0.000758,0.001388&amp;t=h&amp;ie=UTF8&amp;hq=Escuela+T%C3%A9cnica+Superior+de+Ingenier%C3%ADa+Inform%C3%A1tica+de+la+Universidad+de+la+Laguna&amp;hnear=&amp;ll=28.483126,-16.321373&amp;spn=0.000758,0.001388" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
  
</div>