<% provide(:title, 'Quienes Somos') %>
<h1>Quienes Somos</h1>


<div class="col-lg-12 text-center v-center">
	<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
    </div>

    <br><br><br><br><br>

     <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Integrantes del Proyecto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Sergio Afonso García</td>
            <td>sergioafonso@comnet.com</td>
            <td><img width="200" height="200"src="http://4.bp.blogspot.com/-NgTxiE1bE0E/UCJOAUQK1uI/AAAAAAAAAT4/6_rv_6Xl8gk/s1600/aguila.jpg"></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Noel Díaz Mesa</td>
            <td>noeldíaz@comnet.com</td>
           	<td><img width="200" height="200" src="http://t0.gstatic.com/images?q=tbn:ANd9GcR01SpoiS-ylJXGVq97ILyYGJ4pEU5MuNmEl13Ic0P_ukQZ8ugYJw"></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Antonio Pérez Hernández</td>
            <td>antonioperez@comnet.com</td>
           	<td><img width="200" height="200" src="http://www.rtve.es/resources/jpg/1/6/1294861332061.jpg"></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Adán Rafael López Lecuona</td>
            <td>adanrlopèz@comnet.com</td>
            <td><img width="200" height="200" src="http://www.animalesyanimales.com/wp-content/uploads/2009/04/gato-bonito1.jpg"></td>
          </tr>
        </tbody>
      </table>

    <br><br><br><br><br>

	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=+Escuela+T%C3%A9cnica+Superior+de+Ingenier%C3%ADa+Inform%C3%A1tica+de+la+Universidad+de+la+Laguna&amp;aq=&amp;sll=28.483126,-16.321373&amp;sspn=0.000758,0.001388&amp;t=h&amp;ie=UTF8&amp;hq=Escuela+T%C3%A9cnica+Superior+de+Ingenier%C3%ADa+Inform%C3%A1tica+de+la+Universidad+de+la+Laguna&amp;hnear=&amp;ll=28.483126,-16.321373&amp;spn=0.000758,0.001388&amp;output=embed"></iframe><br /><small><a href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=+Escuela+T%C3%A9cnica+Superior+de+Ingenier%C3%ADa+Inform%C3%A1tica+de+la+Universidad+de+la+Laguna&amp;aq=&amp;sll=28.483126,-16.321373&amp;sspn=0.000758,0.001388&amp;t=h&amp;ie=UTF8&amp;hq=Escuela+T%C3%A9cnica+Superior+de+Ingenier%C3%ADa+Inform%C3%A1tica+de+la+Universidad+de+la+Laguna&amp;hnear=&amp;ll=28.483126,-16.321373&amp;spn=0.000758,0.001388" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
</div>