<% provide(:title, 'Contacto') %>
<h1>Contacta con COMNET</h1>
<div class="row">
<div class="col-md-12">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Contacta con Comnet</h3></div>
           		 <div class="panel-body"><div class="form-group">
      				  <div class="controls">
      				    <input class="form-control" type="text" placeholder="Nombre">
      				    <input type="text" class="form-control input-lg" title="Don't worry. We hate spam, and will not share your email with anyone." placeholder="Introduce tu Email">
      				    <textarea class="form-control" placeholder="Comentario"></textarea>
      				  </div>
   			   </div>
            </div>
          </div>
        </div>
    </div>
</div>