<% provide(:title, 'Ayuda') %>
<h1>Pagina de ayuda</h1>

<div class="container">
        <!-- Start: Product description -->
     
          <div class="row">
            <div class="span10 offset1">
              <h4>Cómo registrarse:</h4>
              <p align=justify>
                Para registrarte desde la web, debes seguir los siguientes pasos:<br></p>
              <p><ul class="features">
                  <li>
                    <p>1. Ve al apartado "Registrate" del menú superior</p>
                  </li>
                  <li>
                    <p>2. Introduce tus datos personales tales como tu nombre de usuario, correo electrónico y una contraseña</p>
                  </li>
                  <li>
                    <p>3. Te enviaremos un email al correo que nos has indicado para confirmar registro</p>
                  </li>
                  <li>
                    <p>4. Si tienes un amigo en LinkJobs, puedes pedirle que te envíe una invitación. Recibirás un email con un enlace que te llevará al formulario de registro</p>
                  </li>
                  <li>
                    <p>5. Si has intentado registrarte y no lo has conseguido o no has recibido el correo de confirmacion, escríbenos en la sección de Contacto</p>
                  </li>                 
                </ul>
              <br>
              <h4>Cómo publicar:</h4>
              <p align=justify>
                Para publicar desde tu perfil, debes seguir los siguientes pasos:<br></p>
              <ul class="features">
                  <li>
                    <p>1. Inicia sesión en el apartado "Entrar" del menú superior</p>
                  </li>
                   <li>
                    <p>2. Debes dirigirte a "Home"</p>
                  </li>
                  <li>
                    <p>2. Puedes escribir tanto un post como un video además de subir un archivo de tu interés</p>
                  </li>
                  <li>
                    <p>3. Rellena los campos que ahí te aparecen como son el nombre, una descripción, url del video y pulsa "publicar"</p>
                  </li>
                  <li>
                    <p>5. Podrás ver tu publicación en tu perfil una vez publicada</p>
                  </li>                 
                </ul>

              <br>
              <h4>Cómo eliminar una publicación:</h4>
              <p align=justify> 
              	Si deseas eliminar una publicación tan solo debes dirigirte a tu "perfil" buscar la publicación que deseas eliminar y hacer click en el botón "borrar" 
             </p>
           

            </div>      
          </div>
          <div class="row">
            <hr>
          </div>
        </airticle>

      </br></br>
        <!-- End: Product description -->
      </div>

