<li id="<%= feed_item4.id %>">
  <span class="content"><%= feed_item4.content %></span>
  <span class="content"><%= feed_item4.categoria %></span>
  <span class="timestamp">
    Publicado: <%= time_ago_in_words(feed_item4.created_at) %> ago.
  </span> 
</li>