<% provide(:title, 'Busqueda') %>
<% if signed_in? %>
<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :categoria_cont, "Categoria" %>
    <%= f.text_field :categoria_cont %>
  </div>
  <div class="actions"><%= f.submit "Buscar" %></div>
<% end %>
<% end %>