<% provide(:title, 'All usuarios') %>
<h1>Todos los usuarios</h1>

<%= will_paginate %>

<ul class="users">
  <% @usuarios.each do |usuario| %>
     <%= render usuario %>
  <% end %>
</ul>

<%= will_paginate %>