<footer class="footer">
  <small>
    <p align="left">ETSII ULL 2013 &nbsp; |<u>Copyright by Comnet Team </u></p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Quienes Somos",   '/about' %></li>
      <li><%= link_to "Contacta", '/contact' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>