<footer class="footer">
  <small>
    <p align="left">ETSII ULL 2013 &nbsp; |<u>Copyright by Comnet Team </u></p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Quienes Somos",   '/about' %></li>
      <li><%= link_to "Contacta", '/contact' %></li>
       <li><%= link_to "Ayuda", help_path %></li>
    </ul>
  </nav>
</footer>